<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%- await include('views/components/head.ejs') %>
  </head>
  <body>
	<%- await include('views/components/header.ejs') %>
    <h1><%= title %></h1>
    <p id="menu" >Welcome to <%= title %>!</p>
  </body>
</html>